<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>PageLoader</servlet-name>
		<servlet-class>controller.PageLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InserisciAzienda</servlet-name>
		<servlet-class>controller.InserisciAzienda</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationClient</servlet-name>
		<servlet-class>controller.RegistrationClient</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logged</servlet-name>
		<servlet-class>controller.Logged</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>controller.Home</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DammiAzienda</servlet-name>
		<servlet-class>controller.DammiAzienda</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DammiTerreniAzienda</servlet-name>
		<servlet-class>controller.DammiTerreniAzienda</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrelevaDatiTerreno</display-name>
		<servlet-name>PrelevaDatiTerreno</servlet-name>
		<servlet-class>controller.PrelevaDatiTerreno</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrelevaOrtaggi</display-name>
		<servlet-name>PrelevaOrtaggi</servlet-name>
		<servlet-class>controller.PrelevaOrtaggi</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TerrenoOspitaOrtaggi</display-name>
		<servlet-name>TerrenoOspitaOrtaggi</servlet-name>
		<servlet-class>controller.TerrenoOspitaOrtaggi</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModificaEliminaTerreno</display-name>
		<servlet-name>ModificaEliminaTerreno</servlet-name>
		<servlet-class>controller.ModificaEliminaTerreno</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>eliminaTerreno</display-name>
		<servlet-name>eliminaTerreno</servlet-name>
		<servlet-class>controller.eliminaTerreno</servlet-class>
	</servlet>
			<servlet>
		<description>
		</description>
		<display-name>DammiTerreno</display-name>
		<servlet-name>DammiTerreno</servlet-name>
		<servlet-class>controller.DammiTerreno</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InserisciAzienda</servlet-name>
		<url-pattern>/InserisciAzienda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageLoader</servlet-name>
		<url-pattern>/PageLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationClient</servlet-name>
		<url-pattern>/RegistrationClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logged</servlet-name>
		<url-pattern>/Logged</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DammiAzienda</servlet-name>
		<url-pattern>/DammiAzienda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DammiTerreniAzienda</servlet-name>
		<url-pattern>/DammiTerreniAzienda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrelevaDatiTerreno</servlet-name>
		<url-pattern>/PrelevaDatiTerreno</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrelevaOrtaggi</servlet-name>
		<url-pattern>/PrelevaOrtaggi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TerrenoOspitaOrtaggi</servlet-name>
		<url-pattern>/TerrenoOspitaOrtaggi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificaEliminaTerreno</servlet-name>
		<url-pattern>/ModificaEliminaTerreno</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>eliminaTerreno</servlet-name>
		<url-pattern>/eliminaTerreno</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>DammiTerreno</servlet-name>
		<url-pattern>/DammiTerreno</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>
</web-app>


