body{
	
	background-color: black;
	background: url("../img/weblink21.gif");
	background-size: 100px;
	background-attachment: fixed;
	
}

.border-profile{
	
	margin-top: 50px;
	border-color: #734d26;
	border-width: 3px;
	border-radius: 25px; 
	border-style: inset; 
}

.input-column{
	color: black/*#5f5f5f*/;
	background-color: #cfc7af/*#dbdbdb*/;
	box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .08);
	height: 30px;
	padding: 12px;
	border: 2px solid green;
	border-radius: 8px;
	/* height: 42px */
}

.label-column{
	color: black;
	
}