.border-profile-prodotto {
	margin-top: 50px;
	width: 95%;
	border-color:green;
	border-width: 3px;
	border-radius: 25px;
	border-style: solid;
}

.register-form-prodotto{
	padding: 20px;
	box-sizing: border-box;
	background-color: transparent;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
	font: 700 14px sans-serif;
	text-align: center;
	margin: 20px;
	color: #333
}
.register-form-prodotto .custom-form h1{
	color: black;
	font-size: 24px;
	font-weight: 700;
	padding: 0 10px 15px;
	margin-bottom: 60px;
	border-bottom: 2px solid green;
}

.buttonoverflow{
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
