@charset "UTF-8";

body {
	background-color: black;
	background: url("../img/weblink21.gif");
	background-size: 100px;
	background-attachment: fixed;
	outline: none;
}

#divGenerale.row{
	border-style: solid; 
	border-radius: 25px; 
	border-color: green;
	padding: 3%;
	background: #6c3a37; 
}

#cart.col-sm-4{
	margin-top: 15px;
}



#corpo.row{
	margin-top: 5%;
	background: transparent;
	
}
.card-header{
	background: #ddb162;
}


.btn-outline-primary{
	color: green;
	border-color: green;
	border-radius: 25px;
	
	&:hover{
		color: green;
	}
} 

.btn-outline-primary:hover{
	color: white;
	background: green;
	outline: none;
	
	
	
} 



#divFiltri.card-filter{
	border-style: solid; 
	border-radius: 25px; 
	border-color: green;
	background: #e9cc98;
}

.filtroBordo{
	border: solid;
	margin-top: 2%;
	border-radius: 25px;
	border-color: green;
	text-align: center;
	
}

.filtroInterno{
	color: black;
}

.filtroInterno:hover{
	color: green;
	line-height: none;
}

.

#prodotti.col-sm-9{

	background: transparent;
}

#prodotto.card-product {
	background: #e9cc98;
	border-style: solid; 
	border-radius: 25px; 
	border-color: green;
	margin-bottom: 5%;
}

#prodotto.card-product:last-child {
	background: #e9cc98;
	border-style: solid; 
	border-radius: 25px; 
	border-color: green;
	margin-bottom: 0%;
}


#insiemePagine.pagination{
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: green;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.view {
  display: block !important;
  opacity: 1 !important;
  transform: scale(1) rotate(0deg);
  border-radius:4px;
  animation: selected 300ms 1 ease-in-out;
}