body {
	background-color: black;
	background: url("../img/weblink21.gif");
	background-size: 100px;
	background-attachment: fixed;
}



 .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #f9eed7;
    border-radius: 30px;
    padding: 10px;
    border-style: solid;
    border-color: #9f9f9f;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 200px;  /*450px;  */
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: green;
    color: white;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    background: #f9eed7;
    border-color: none;
    }


h1{
  font-size: 50px;
  color: #000;
  text-shadow: 5px 5px #a0a0a0;

}
.our-team-main {
	width: 100%;
	height: auto;
	border-bottom: 5px #323233 solid;
	background: #f7f3e8;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	margin-bottom: 28px;
}

.our-team-main img {
	border-radius: 50%;
	margin-bottom: 20px;
	width: 90px;
}

.our-team-main h3 {
	font-size: 20px;
	font-weight: 700;
}

.our-team-main p {
	margin-bottom: 0;
}

.team-back {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px 0 15px;
	text-align: center;
	background: #f7f3e8;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
}

.team-front {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 10;
	background: #f2dca9;
	padding: 15px;
	bottom: 0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
	bottom: -200px;
	transition: all 0.5s ease;
	s
}

.our-team-main:hover {
	border-color: #777;
	transition: 0.5s;
}

.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}

.image-checkbox input[type="checkbox"] {
	display: none;
	padding: 100px;
}

.image-checkbox-checked {
	border-color: #4783B0;
}

.image-checkbox .fa {
	position: absolute;
	color: #4A79A3;
	background-color: #fff;
	padding: 10px;
	top: 0;
	right: 0;
}

input[type="checkbox"]:active {
	background-color: #3e8e41;
}

.image-checkbox-checked .fa {
	display: block !important;
}

/*our-team-main*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	outline: 0;
}

.image-checkbox-checked {
	border-color: #f58723;
}

ul {
	list-style-type: none;
	padding: 0;
}

.buttomul{
	margin-bottom: 0;
}

li {
	display: inline-block;
}

input[type="checkbox"][id^="cb"] {
	display: none;
}

.conteiner {
	margin-left: auto;
	margin-right: auto;
}

label {
	border: 1px solid trasparent;
	padding: 5px;
	display: block;
	position: relative;
	margin: 0px;
	cursor: pointer;
}

label:before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid grey;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
}

label img {
	height: 300px;
	width: 300px;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
	border-style: solid;
	border-color: black;
	border-radius: 10px;

}

label img:hover{
	background: #f2dca9;
}

:checked+label {
	border-color: #106b21;
}

:checked+label:before {
	content: "✓";
	background-color: #106b21;
	transform: scale(1);
}



:checked+label img {
	transform: scale(0.9);
	box-shadow: 0 0 5px #333;
	z-index: -1;
}

.button {
	padding: 15px 25px;
	/*font-size: 24px;*/
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: green; /* #4CAF50*/
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 9px #999;   3D EFFECTS */
	outline: none !important;
	align: buttom;
	/* margin-top: 15px; */
	margin: 4%;
}


.button:hover {
	background-color: #3e8e41
}

.button:active {
	background-color: green; /* #3e8e41 */
	box-shadow: 0 3px #773c00;
	transform: translateY(4px); # avanti { position : absolute;
	left: 20px;
	right: 20px;
	
}