@charset "UTF-8";

body {
	background-color: black;
	background: url("../img/weblink21.gif");
	background-size: 100px;
	background-attachment: fixed;
	outline: none;
}

#divGenerale.col-sm-8{
	border-style: solid; 
	border-radius: 25px; 
	border-color: green;
	padding: 0px !important;
	background: #ffd480;
}

#divAzienda {
	border-radius: 25px;

	
}
 
#centerColumn{
	/* background: url("../img/TrattoreBuono.jpg"); */
	background: #996600;
	border-radius: 25px;
	border-style: solid;
	border-color: #664400;
}

#cardTerreni{
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 3%;
	overflow-y: scroll;
	max-height: 600px;
	min-height: 600px; 
}


#cardTerreno.card{
	/* background: url("../img/terrenobg.jpg"); */
	background: #ffd480;
	border-style: solid; 
	border-radius: 25px; 
	border-color: #664400; 
	margin-top: 3%;
}





h1{
  font-size: 5.5vw;
  color: black;
   text-shadow: 5px 5px #a0a0a0;
}

h2{
	font-size: 3.5vw;
}

.button {
	padding: 10px 25px;
	/*font-size: 24px;*/
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: green; /* #4CAF50*/
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 9px #999;   3D EFFECTS */
	outline: none !important;
	align: buttom;

}


.button:hover {
	background-color: #3e8e41
}

.button:active {
	background-color: green; /* #3e8e41 */
	box-shadow: 0 3px #773c00;
	transform: translateY(4px); # avanti { position : absolute;
	left: 20px;
	right: 20px;
	
}











