@charset "ISO-8859-1";

body {
	background-color: black;
	background: url("../img/weblink21.gif");
	background-size: 100px;
	background-attachment: fixed;
	outline: none;
}

.grid-container  {
	display: grid; 
	grid-template-columns: auto auto auto; 
	grid-gap: 20px; 
	overflow-y: scroll !important; 
	max-height: 500px;
}

.button {
	padding: 10px 25px;
	/*font-size: 24px;*/
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: green; /* #4CAF50*/
	border: none;
	border-radius: 15px;
	/*box-shadow: 0 9px #999;   3D EFFECTS */
	outline: none !important;
	align: buttom;

}


.button:hover {
	background-color: #3e8e41
}

.button:active {
	background-color: green; /* #3e8e41 */
	box-shadow: 0 3px #773c00;
	transform: translateY(4px); # avanti { position : absolute;
	left: 20px;
	right: 20px;
	
}




